<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-solid fa-globe"></i> &nbsp; English  &nbsp; &nbsp; &nbsp;
            <i class="fa-solid fa-indian-rupee-sign"></i> INR  &nbsp; &nbsp; &nbsp;
            <a class="ptc" href="https://www.facebook.com/" target="/"><i class="fa-brands fa-square-facebook "></i></a>  &nbsp;
            <a class="ptc" href="https://www.instagram.com/" target="/"><i class="fa-brands fa-square-instagram"></i></a>  &nbsp;
            <a class="ptc" href="https://www.x.com/" target="/"><i class="fa-brands fa-square-x-twitter"></i></a>  &nbsp;
        </div>
        <br>
        <div class="f-info-company">
            <i class="fa-regular fa-copyright"></i> Airbnb Pvt. Ltd.
        </div>
        <br>
        <div class="f-info-ptc">
           <a class="ptc" href="/privacy">Privacy</a> &nbsp;&nbsp; . &nbsp;&nbsp; <a class="ptc"  href="/terms">Terms</a>
        </div> 
    </div>
</footer>